<h1>Login</h1>

<div>
    <button type="submit" value="Submit" (click)="getDataInLogin()">Get Data From Service</button>
</div>

<div>
    <button type="submit" value="Submit" (click)="sendData()">Send Data To Service</button>
</div>