<h1>Add/Edit Posts</h1>


<form [formGroup]="myForm">
    <div>
        <input type="text" name="post_title" formControlName="post_title" placeHolder="Post Title">
    </div>
     <div>
        <input type="text" name="post_type" formControlName="post_type" placeHolder="Post Type">
    </div>
    <div>
        <input type="text" name="post_date" formControlName="post_date" placeHolder="Post Date">
    </div>
    <div>
        <textarea  name="description" formControlName="description" placeHolder="Add posts content"></textarea>
    </div>
    <div>
        <input type="text" name="consultancy_id" formControlName="consultancy_id" placeHolder="Consultancy Id">
    </div>
    <div>
        <button type="submit" (click)="savePost()">Submit Post</button>
    </div> 
</form>