<h1>Sign up page</h1>


<form [formGroup]="myForm">
    <div>
        <input type="text" name="firstName" formControlName="firstName" placeHolder="First Name">
    </div>
    <div>
        <input type="text" name="lastName" formControlName="lastName" placeHolder="Last Name">
    </div>
    <div>
        <input type="email" name="email" formControlName="email" placeHolder="Email">
    </div>
    <div>
        <input type="number" name="mobile" formControlName="mobile" placeHolder="Mobile">
    </div>
    <div>
        <input type="radio" name="gender" formControlName="gender" value="Male"> Male
        <input type="radio" name="gender" formControlName="gender" value="Female"> Female
    </div>
    <div>
        <select name="skills" formControlName="skills">
            <option value="Angular">Angular</option>
            <option value=".Net">.Net</option>
            <option value="JAVA">JAVA</option>
            <option value="React">React</option>
            <option value="Vue">Vue</option>
        </select>
    </div>
    <div>
        <input type="checkbox" name="status" formControlName="status">Marriage Thai gaya ?
    </div>
    <div>
        <button type="submit" value="Submit" (click)="fillData()">Sumbit</button>
    </div>


   
</form>

<div>
    <button type="submit" value="Submit" (click)="getData()">Get Data From Service</button>
</div>
