 <header class="header">
    <ul>
        <li><a [routerLink]="['/home']">Home Page</a></li>
        <li><a [routerLink]="['/about-us']">About Page</a></li>
        <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
        <li><a [routerLink]="['/auth/login']">Login</a></li>
        <li><a [routerLink]="['/auth/forgot']">Forgot</a></li>
        <li><a [routerLink]="['/auth/sign-up']">Sign up</a></li>
        <li><a [routerLink]="['/posts']">Posts</a></li>
    </ul>
</header>

<div class="content">

    <router-outlet></router-outlet>
</div>

<footer  class="footer">
    <div>
        Footer Data
    </div>
</footer>


