<h1>Hello All, We are on HOME Page.</h1>
{{ name }}


Data Types in TypeScript
1) any
2) void
3) string
4) number
5) object
6) date


First name
Last name
email
gender (Radio)
skills (Dropdown)
status (checkbox)

<!--
<form [formGroup]="myForm">
     <div>
        <input type="text" name="firstName" formControlName="firstName" placeHolder="First Name">
    </div>
    <div>
        <input type="text" name="lastName" formControlName="lastName" placeHolder="Last Name">
    </div>
    <div>
        <input type="email" name="email" formControlName="email" placeHolder="Email">
    </div>
    <div>
        <input type="number" name="mobile" formControlName="mobile" placeHolder="Mobile">
    </div>
    <div>
        <input type="radio" name="gender" formControlName="gender" value="Male"> Male
        <input type="radio" name="gender" formControlName="gender" value="Female"> Female
    </div>
    <div>
        <select name="skills" formControlName="skills">
            <option value="Angular">Angular</option>
            <option value=".Net">.Net</option>
            <option value="JAVA">JAVA</option>
            <option value="React">React</option>
            <option value="Vue">Vue</option>
        </select>
    </div>
    <div>
        <input type="checkbox" name="status" formControlName="status">Marriage Thai gaya ?
    </div>
    <div>
        <button type="submit" value="Submit" (click)="fillData()">Submit</button>
    </div>

    <div>
        <button type="button" value="Fill Data" (click)="fillData()">GET</button>
    </div>

     
   
</form>
-->

<div>
    <button type="button" value="Get Post Data" (click)="getPostData()">GET</button>
</div>


<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr *ngFor="let emp of employeeData">
        <td>{{emp.id}}</td>
        <td>{{emp.employee_name}}</td>
    </tr>
</table>