<h1>Posts List</h1>

<button type="button" (click)="goToAddNewPost()">Add New Post</button>

<table border="1">
    <tr>
        <td>Action</td>
        <td>ID</td>
        <td>Post Title</td>
        <td>Post Date</td>
        <td>Post Type</td>
        <td>Description</td>
        <td>Consultancy Id</td>
    </tr>
    <tr *ngFor="let post of postsList">
        <td><button type="button" (click)="editData(post._id)">Edit</button>
            <button type="button" (click)="deletePost(post._id)">Delete</button></td>
        <td>{{ post._id }}</td>
        <td>{{ post.post_title }}</td>
        <td>{{ post.post_date }}</td>
        <td>{{ post.post_type }}</td>
        <td>{{ post.description }}</td>
        <td>{{ post.consultancy_id }}</td>
    </tr>
</table>